section.container {
    overflow: hidden;
}

section.container div {
    float: left;
    overflow: hidden;
    width: 150px;
    height: 150px;
    transition: .1s all;
    background-color: lightgrey;
    margin-right: 5px;
}

section.container div.pink {
    background-color: palevioletred;
}

section.container div.blue {
    background-color: lightsteelblue;
}

section.container div.green {
    background-color: darkseagreen;
}

section.container div.none {
    background-color: lightgrey;
    transition: 3s all;
}