section.container {
    overflow: hidden;
}

section.container div {
    float: left;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-color: lightgrey;
    margin-right: 5px;
}

section.container div.pink {
    background-color: mediumvioletred;
}

section.container div.blue {
    background-color: cornflowerblue;
}

section.container div.green {
    background-color: yellowgreen;
}

section.container div.orange {
    background-color: coral;
}

section.container div.circle {
    border-radius: 200px;
}